In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('titanic.csv')

In [3]:
data.shape

(891, 12)

In [4]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [6]:
not_useful = ['PassengerId',"Name","Ticket","Cabin","Embarked"]

In [9]:
data_clean = data.drop(columns=not_useful)

In [10]:
data_clean.shape

(891, 7)

In [11]:
data_clean.head(n=5)

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0         0       3    male  22.0      1      0   7.2500
1         1       1  female  38.0      1      0  71.2833
2         1       3  female  26.0      0      0   7.9250
3         1       1  female  35.0      1      0  53.1000
4         0       3    male  35.0      0      0   8.0500

In [12]:
from sklearn.preprocessing import LabelEncoder

In [13]:
le = LabelEncoder()

temp =["A","B","C","B","A"]
le.fit_transform(temp)

array([0, 1, 2, 1, 0], dtype=int64)

In [14]:
temp2 = ["B","A","C"]
le.transform(temp2)

array([1, 0, 2], dtype=int64)

In [15]:
data_clean['Sex'] = le.fit_transform(data_clean['Sex'])

In [16]:
data_clean.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare
0         0       3    1  22.0      1      0   7.2500
1         1       1    0  38.0      1      0  71.2833
2         1       3    0  26.0      0      0   7.9250
3         1       1    0  35.0      1      0  53.1000
4         0       3    1  35.0      0      0   8.0500

In [18]:
data_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
Survived    891 non-null int64
Pclass      891 non-null int64
Sex         891 non-null int32
Age         714 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Fare        891 non-null float64
dtypes: float64(2), int32(1), int64(4)
memory usage: 45.3 KB

In [19]:
data_clean.describe()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,0.383838,2.308642,0.647587,29.699118,0.523008,0.381594,32.204208
std,0.486592,0.836071,0.477990,14.526497,1.102743,0.806057,49.693429
min,0.000000,1.000000,0.000000,0.420000,0.000000,0.000000,0.000000
25%,0.000000,2.000000,0.000000,20.125000,0.000000,0.000000,7.910400
50%,0.000000,3.000000,1.000000,28.000000,0.000000,0.000000,14.454200
75%,1.000000,3.000000,1.000000,38.000000,1.000000,0.000000,31.000000
max,1.000000,3.000000,1.000000,80.000000,8.000000,6.000000,512.329200

In [20]:
data_clean['Age'].mean()

29.69911764705882

In [21]:
data_clean = data_clean.fillna(data_clean['Age'].mean())

In [26]:
data_clean.fillna?

In [23]:
data_clean['Age']

0      22.000000
1      38.000000
2      26.000000
3      35.000000
4      35.000000
5      29.699118
6      54.000000
7       2.000000
8      27.000000
9      14.000000
10      4.000000
11     58.000000
12     20.000000
13     39.000000
14     14.000000
15     55.000000
16      2.000000
17     29.699118
18     31.000000
19     29.699118
20     35.000000
21     34.000000
22     15.000000
23     28.000000
24      8.000000
25     38.000000
26     29.699118
27     19.000000
28     29.699118
29     29.699118
         ...
861    21.000000
862    48.000000
863    29.699118
864    24.000000
865    42.000000
866    27.000000
867    31.000000
868    29.699118
869     4.000000
870    26.000000
871    47.000000
872    33.000000
873    47.000000
874    28.000000
875    15.000000
876    20.000000
877    19.000000
878    29.699118
879    56.000000
880    25.000000
881    33.000000
882    22.000000
883    28.000000
884    25.000000
885    39.000000
886    27.000000
887    19.000000
888    29.699118
889    26.000000
890    32.000000
Name: Age, Length: 891, dtype: float64

In [25]:
data_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
Survived    891 non-null int64
Pclass      891 non-null int64
Sex         891 non-null int32
Age         891 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Fare        891 non-null float64
dtypes: float64(2), int32(1), int64(4)
memory usage: 45.3 KB

In [77]:
def entropy(col):
    counts = np.unique(col,return_counts=True)
    #print(counts)
    ent = 0.0
    N = float(col.shape[0])
    for ix in counts[1]:
        p = ix/N
        ent += -1.0*(p*np.log2(p))
        
    return ent

In [78]:
def split_data(X_data,fkey,fval):
    #Binary Split
    X_Right = pd.DataFrame([],columns=X_data.columns)
    X_Left = pd.DataFrame([],columns=X_data.columns)
    
    for ix in range(X_data.shape[0]):
        val = X_data[fkey][ix]
        
        if val>fval:
            X_Right = X_Right.append(X_data.loc[ix])
        else:
            X_Left = X_Left.append(X_data.loc[ix])
            
    
    return X_Right,X_Left

In [79]:
R,L = split_data(data_clean,'Sex',0.5)
#R.head()

In [84]:
def info_gain(X_data,fkey,fval):
    right,left = split_data(X_data,fkey,fval)
    
    l = float(left.shape[0]/X_data.shape[0])
    r = float(right.shape[0]/X_data.shape[0])
    
    if left.shape[0]==0 or right.shape[0]==0:
        return -100
    
    i_gain = entropy(X_data.Survived)-l*entropy(left.Survived)-r*entropy(right.Survived)
    return i_gain

In [87]:
info_gain(data_clean,'Sex',0.5)

0.2176601066606143

In [90]:
X = data_clean[['Pclass','Sex','Age','SibSp',"Parch","Fare"]] #select these columns from dataframe
Y = data_clean[["Survived"]]

In [91]:
X.head()

   Pclass  Sex   Age  SibSp  Parch     Fare
0       3    1  22.0      1      0   7.2500
1       1    0  38.0      1      0  71.2833
2       3    0  26.0      0      0   7.9250
3       1    0  35.0      1      0  53.1000
4       3    1  35.0      0      0   8.0500

In [92]:
Y.head()

   Survived
0         0
1         1
2         1
3         1
4         0

In [95]:
for fx in X.columns:
    print(fx)
    print(info_gain(data_clean,fx,data_clean[fx].mean()))

Pclass
0.07579362743608165
Sex
0.2176601066606143
Age
0.0008836151229467681
SibSp
0.009584541813400127
Parch
0.015380754493137666
Fare
0.04214069283899541

In [142]:
class DecisionTree:
    
    def __init__(self,depth=0,max_depth=5):
        self.left = None
        self.right = None
        self.fkey = None
        self.fval = None
        self.max_depth = max_depth
        self.depth = depth
        self.target = None
        
    def train(self,X_train):
        features = ['Pclass',"Sex",'Age',"SibSp","Parch","Fare"]
        
        info_gain_list = []
        
        
        for ix in features:
            i_gain = info_gain(X_train,ix,X_train[ix].mean())
            info_gain_list.append(i_gain)
            
        selected = features[np.argmax(info_gain_list)]
        self.fkey = selected
        self.fval = X_train[selected].mean()
            
        data_left,data_right = split_data(X_train,self.fkey,self.fval)
            
        data_left = data_left.reset_index(drop=True)
        data_right = data_right.reset_index(drop=True)
        
        #Base Case (Leaf Node)
        if(data_left.shape[0]==0 or data_right.shape[0]==0):
            if(X_train.Survived.mean()>0.5):
                self.target = 1
            else:
                self.target = 0
            return
        #Max Depth Base Case
        if(self.depth>=self.max_depth):
            if(X_train.Survived.mean()>0.5):
                self.target = 1
            else:
                self.target = 0
            return
        
        #Recursive Case
        #Create a Left Node
        self.left = DecisionTree(depth=self.depth+1,max_depth=self.max_depth)
        #Recursively Build the left Subtree
        self.left.train(data_left)
        
        self.right = DecisionTree(depth=self.depth+1,max_depth=self.max_depth)
        self.right.train(data_right)
        
        if(X_train.Survived.mean()>0.5):
            self.target = 1
        else:
            self.target = 0
        return
        
        
    def predict(self,test):
        if test[self.fkey]>self.fval:
            
            if self.right is None:
                return self.target
            return self.right.predict(test)
        
        else:
            if self.left is None:
                return self.target
            return self.left.predict(test)

In [143]:
split = int(0.7*(data_clean.shape[0]))

In [144]:
train_data = data_clean[:split]
test_data = data_clean[split:]

In [145]:
train_data.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare
0         0       3    1  22.0      1      0   7.2500
1         1       1    0  38.0      1      0  71.2833
2         1       3    0  26.0      0      0   7.9250
3         1       1    0  35.0      1      0  53.1000
4         0       3    1  35.0      0      0   8.0500

In [146]:
test_data = test_data.reset_index(drop=True)
test_data.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare
0         0       3    1  21.0      0      0   7.8542
1         0       3    1  21.0      0      0  16.1000
2         0       1    1  61.0      0      0  32.3208
3         0       2    1  57.0      0      0  12.3500
4         1       1    0  21.0      0      0  77.9583

In [147]:
train_data.shape

(623, 7)

In [148]:
test_data.shape

(268, 7)

In [149]:
dt = DecisionTree()

In [150]:
dt.train(train_data)

In [151]:
dt.fkey

'Sex'

In [152]:
dt.left.fkey

'Fare'

In [153]:
dt.right.fkey

'Pclass'

In [154]:
y_pred = []

for ix in range(test_data.shape[0]):
    pred = dt.predict(test_data.loc[ix])
    y_pred.append(pred)

In [162]:
Y_pred = 1-np.array(y_pred)

In [157]:
Y_actual = np.array(test_data.Survived)

In [163]:
np.sum(Y_pred==Y_actual)/Y_pred.shape[0]

0.6716417910447762